{% extends 'AuderoWebBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>{{ user.username }}</h2>
        <hr>
        <div class="col-md-4">
            <p class="text-center">{{ user.email }}</p>
            <p class="text-center">Rate: {{ user.rate }} Rank: {{ rank }}</p>
        </div>
        <div class="col-md-8">
            <!-- My last requests -->
            <h3>Last requests: </h3>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Request</th>
                    <th>Responses</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td><strong>SHOW ME:</strong> {{ request.title }}</td>
                        <td><a href="{{ path('web_page_singleRequest',
                            {'slug':request.slug}) }}">View all</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <h3>Last responses: </h3>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Request </th>
                    <th>Answer</th>
                    <th>Likes/Dislikes</th>
                </tr>
                </thead>
                <tbody>
                {% for response in responses %}
                    <tr>
                        <td><strong>SHOW ME:</strong> {{ response.request.title }}</td>
                        <td>
                            <p class="text-center">
                                <a href="{{ path('web_page_singleResponse',
                                {'slug': response.request.slug,
                                'author':response.user.username}) }}">
                                    <img src="http://i.imgur.com/{{ response.photoId }}s.jpg" style="width: 50px; height: 50px;">
                                </a>
                            </p>
                        </td>
                        <td><div class="progress">
                                <div class="progress-bar progress-bar-success"
                                    {% if response.likes + response.dislikes > 0 %}
                                     style="width: {{ 100 * response.likes / (response.likes + response.dislikes) }}%" >
                                    {{ response.likes }}
                                    {%  else %}
                                        >
                                    {% endif %}
                                </div>
                                <div class="progress-bar progress-bar-danger"
                                     {% if response.likes + response.dislikes > 0 %}
                                     style="width: {{ 100-100 * response.likes / (response.likes + response.dislikes) }}%" >
                                    {{ response.dislikes }}
                                    {%  else %}
                                        >
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/auderoweb/js/profile.js') }}" type="text/javascript"></script>
{% endblock %}
