<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        '@AuderoWebBundle/Resources/public/css/bootstrap.css'
        '@AuderoWebBundle/Resources/public/css/bootswatch.min.css'
        '@AuderoWebBundle/Resources/public/css/custom.css'
        'font-awesome-4.1.0/css/font-awesome.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
        '@AuderoWebBundle/Resources/public/js/jquery-1.10.2.min.js'
        '@AuderoWebBundle/Resources/public/js/jquery.form.js'
        '@AuderoWebBundle/Resources/public/js/bootstrap.min.js'
        '@AuderoWebBundle/Resources/public/js/bootswatch.js'
        '@AuderoWebBundle/Resources/public/js/autobahn.min.js'
        'jquery.form.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

      <link rel="stylesheet" href="{{ asset('jquery-ui-1.11.2/jquery-ui.min.css') }}" />
      <script type="text/javascript" src="{{ asset('jquery-ui-1.11.2/jquery-ui.js') }}"></script>

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <a href="../"  class="navbar-brand"><img src="{{ asset('img/logo.png') }}" alt="ShowPhoto.me"/></a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" target="_blank">Play game</a></li>
                  <li><a href="#" target="_blank">How to use?</a></li>
                  <li><a href="#" target="_blank">About Us</a></li>
                  <li><a style="background-color: greenyellow" href="#" target="_blank">Spectate</a></li>
                  <li><a style="background-color: green" href="#" target="_blank">Play</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Login <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Profile</a></li>
                          <li><a href="#">Photo requests</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Logout</a></li>
                      </ul>
                  </li>

              </ul>
          </div>
      </div>
  </div>

    <div class="container">
      {% block body%}
      {% endblock %}

      <footer>
      <div class="row">
        {% block footer%}{%endblock%}
      </div>
      </footer>

    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
