{% extends "::base.html.twig" %}

{% block title %}AuderoShowphotoBundle:Chat:index{% endblock %}

{% block body %}
    <span id="chat_messages">
        {% for message in messages %}
            <span id="user" class="text-muted">{{ message.user.username }}:</span>
            {{message.text}}
            <hr class="no-padding">
        {% endfor %}
    </span>
    <div class="input-group">
        {{ form_start(chat) }}
            {{ form_widget(chat.text, {'attr':{'class':'form-control', 'placeholder':'Type your message here...'}}) }}
            <span class="input-group-btn">
                {{ form_widget(chat.Send, {'attr':{'class':'btn btn-default', }}) }}
            </span>
        {{ form_end(chat) }}
    </div>
{% endblock %}
