{% extends "AuderoWebBundle::base.html.twig" %}

{% block title %}AuderoShowphotoBundle:Game:index{% endblock %}

{% block body %}
    <hr>
<div class="row">
    <!-- Image view block
          ================================================== -->
    <div class="col-md-8">
        <blockquote>
            <p id="request">{{ request.title }}</p>
            <small id="requester">by {{ request.user.username }}</small>
        </blockquote>
        <hr>
        {% for response in responses %}
        <div class="col-md-4">
            <p class="text-center">
                <img class="img-responsive" src="{{ response.photoLink }}">
            </p>
        </div>
{#            {% if loop|index mod 3 == 0 %}
                <p>&nbsp;</p>
            {% endif %}#}
        {% endfor %}

    </div>
    <div class="col-md-4">
        <p><a href="#" class="btn btn-default btn-lg btn-block">Time left: <span id="timer"></span></a></p>
        {{ form(form_response) }}
        <hr>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#chat" data-toggle="tab">Chat</a></li>
            <li class=""><a href="#players" data-toggle="tab">Players</a></li>
            <li class=""><a href="#wishes" data-toggle="tab">My wishes</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="chat">
                {{ render(controller('AuderoShowphotoBundle:Chat:index')) }}
            </div>
            <div class="tab-pane fade" id="players">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Nick name</span></li>
                </ul>
            </div>
            <div class="tab-pane fade" id="wishes">
                <p><strong>Login:</strong></p>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <!--<div class="form-group">
                                      <label for="exampleInputUsername">Username</label>
                                      <input type="email" class="form-control" id="exampleInputUsername" placeholder="Enter username">
                                  </div>-->
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <p class="text-right">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>





    <script>
        $( "#audero_showphotobundle_chat_Send" ).click(function() {

            var form = $('form[name="audero_showphotobundle_chat"]');

            $.ajax( {
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function( response ) {
                    //console.log( response );
                }
            } );

            $("#audero_showphotobundle_chat_text").val('');
        });
    </script>


    <script>
        var count= 30;
        var counter= setInterval(timer, 1000); //1000 will run it every 1 second

        function timer()
        {
            count=count-1;
            if (count < 0)
            {
                clearInterval(counter);
                //counter ended, do something here
                return;
            }

            document.getElementById("timer").innerHTML=count; // watch for spelling
        }

        var conn = new ab.Session('ws://127.0.0.1:8080',
                function() {
                    conn.subscribe('chat', function(topic, data) {
                        $('#chat_messages').append("<span class='text-muted'>" + data.user + ': ' + '</span>' +
                        data.text + "<hr class='no-padding'>");
                    });
                    conn.subscribe('game_request', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                        //$( "#request" ).text(data);
                        console.log(data); count = 30;
                    });
                    conn.subscribe('game_response', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                         //$( "#responses" ).append( "<tr><td><img width=\"300px\" src=\""+ data + "\"></td></tr>" );
                        console.log('New response');
                    });
                },
                function() {
                    console.warn('WebSocket connection closed');
                },
                {'skipSubprotocolCheck': true}
        );


    </script>
{% endblock %}
