{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


    <div class="row-game">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            {% if error %}
                <div style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
            <a href="{{ path('fos_user_registration_register') }}">need an account ?</a>
            <div style="margin-top: 10px; text-align: right">
                <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>
    </div>



{% endblock fos_user_content %}