{% extends 'AuderoWebBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <br/>
    <div class="row">
        {% for request in requests %}
            {% for response in request.getResponses() %}
                <div class="col-md-8">
                    <h1>Show: {{ request.title }}</h1>
                    <img src="{{ response.photoLink }}" class="img-responsive" width="780" height="auto">
                </div>
                <div class="col-md-4">
                    <!--Vote block-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Decide image fate</div>
                        <div class="panel-body">
                            <p><a href="#" id="like_button" class="btn btn-default btn-lg btn-block" data-request_slug="{{ request.slug}}" data-response_author="{{ response.user.username}}" data-rate="1"><i class="fa fa-thumbs-up"></i>
                                    Like</a></p>
                            <p class="text-center">
                                <a href="#" class="btn btn-info">Share</a>
                                <a href="#" class="btn btn-warning">Report</a>
                                <a href="#" id="dislike_button" class="btn btn-danger" data-id="{{ response.photoId }}" data-rate="0">Dislike</a>
                            </p>
                        </div>
                    </div>
                    <!--Vote block-->

                    <!--Image points-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Image points</div>
                        <div class="panel-body">
                            <div class="progress">
                                {% if response.likes + response.dislikes > 0 %}
                                    <div class="progress-bar progress-bar-success" style="width: {{ 100 * response.likes / (response.likes + response.dislikes) }}%">
                                        {{ response.likes }}
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ 100 - 100 * response.likes / (response.likes + response.dislikes) }}%">
                                        {{ response.dislikes }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--Image points-->
                </div>
                <div class="col-lg-12">
                    <hr>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#like_button').click(function(){
        $.ajax({
            type: "POST",
            url: '/app_dev.php/rating/create',
            data: {request_slug: $(this).data('request_slug'), response_author: $(this).data('response_author'), rate: true}
        })
        .success(function(data){
            $('#like_button').css("border", "2px solid green");
        })
    });

    $('#dislike_button').click(function(){
        $.ajax({
            type: "POST",
            url: '/app_dev.php/rating/',
            data: {photo_id: $(this).data('id'), rate: $(this).data('rate')}
        });
    });

    var conn = new ab.Session('ws://127.0.0.1:8080',
            function() {
                conn.subscribe('rating', function(topic, data) {
                    console.log(data);
                });
            },
            function() {
                console.warn('WebSocket connection closed');
            },
            {'skipSubprotocolCheck': true}
    );

</script>

{% endblock %}
